.list-group-item{
    text-align:center;
}
h4{
    text-align:center;
}
button{
    width:"150";
}
td,th{
    text-align:center;
    padding:12px;
}
a{
  text-decoration:none;
  color:white;
  font-size:20px;
  font-family:arial;
  display:block;
  padding: 5px;
}
a:hover{
  background-color:rgb(230, 230, 230);
  color:blue;
}
  table {
    border: 1px solid black;
    font-family: arial;
    border-collapse: collapse;
    width: 100%;
    text-align:center;
  }
  
   td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
  }
  th{
      background-color:rgb(0, 0, 102);
      text-align:center;
      font-size:18px;
      color:white
  }
  tr:hover{
      background-color:rgb(204, 204, 255)
  }
  .btns{
    background-color:rgb(0, 0, 102);
    color:white;
    font-size:15px;
    font-family:arial;
  }
  .btns:hover{
    background-color: white;
    color:blue
  }
  button {
    background-color: whitesmoke;
    color: blue;
    padding: 8px 12px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
  }
  button:hover{
    color:blue;
  }
  .container-fluid{
    height: 750px;
    background-color:rgb(230, 230, 230)

  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-toggle {
      
      color: white;
      padding: 16px;
      font-size: 18px;
      border: none;
    }
  
  .dropdown-menu{
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  
  }
  .dropdown-menu a {
      color: rgb(0, 0, 102);
      padding: 7px 10px;
      text-decoration: none;
      display: block;
    }
    .dropdown-menu:hover{
        background-color:rgb(230, 230, 230);
        color:rgb(0, 0, 102)
    }
    
    .dropdown-menu a:hover {background-color: #ddd;}
    
    .dropdown:hover .dropdown-menu {display: block;}
    
  