<div>
  <nav class="navbar navbar-expand-sm" style="background-color:rgb(0, 0, 102);">
    <a class="navbar-brand" href="#">
        <img [src]="icon_img"  alt="Task Manager" width="50" height="50" style="border-radius:6px;">
    </a>
        <span class="navbar-text" style="color:white; font-size:20px;">Dashboard</span>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <button class="signout" (click)="logout()"><span class="glyphicon glyphicon-log-in"></span>Sign Out</button>
            </li>
        </ul>
    </nav>
</div>
<div class="container-fluid"><br>
  <div class="row" style="margin:20px;">
    <div class="col-12" style="text-align:right; padding-right:0px;">
        &nbsp;<input type="date" name="date" id="myInput" (change)="onChangeEvent($event)">
    </div><br><br>
        <table id="myTable" class="table-responsive">
          <tr>
            <th style="width:10%;">Task ID</th>
            <th style="width:10%;">Assigned Date</th>
            <th style="width:10%;" style="width:20%;">Assigned To</th>
            <th style="width:30%;">Task Name</th>
            <th style="width:10%;">Priority</th>
            <th style="width:15%;">Status</th>
          </tr>
        <tr *ngFor="let task  of tasks">
            <td>{{task.id}}</td>
            <td>{{task.assigneddate|date:'dd MMM YYYY'}}</td>
            <td>{{task.assignedto}}</td>
            <td>{{task.taskname}}</td>
            <td>
                <span class="badge badge-pill badge-danger " *ngIf="task.priority == 'High'" style="font-size:15px; color:white;">{{task.priority}}</span>&nbsp;
                <span class="badge badge-pill badge-secondary" *ngIf="task.priority == 'Medium'" style="font-size:15px; color:white">{{task.priority}}</span>&nbsp;
                <span class="badge badge-pill badge-success" *ngIf="task.priority == 'Low'" style="font-size:15px; color:white">{{task.priority}}</span>&nbsp;
            </td>
            <td>
                <span class="badge badge-pill badge-primary" *ngIf='task.status=="In Progress"' (click)='updateTask("Completed",task)' style="font-size:15px; text-align:center;">In Progress</span>&nbsp;
                <span class="badge badge-pill badge-success" *ngIf='task.status=="Completed"' (click)='updateTask("In Progress",task)' style="font-size:15px; text-align:center;">Completed</span>
            </td>
        </tr>
     </table>
    </div>     
</div>
  


